<div class="NewsletterSignup">
    <h3 class="NewsletterSignup__description">Lista de email BID</h3>
    <form id="subscribe-bid" method="post" action="http://www.jangomail.com/OptIn.aspx?RedirectURLSuccess=http%3A%2F%2Fwww.gbif.org%2Fprojects%2Fbid">
        <input type="hidden" name="optinform$txtUniqueID" id="optinform_txtUniqueID" value="96801962-8d54-4da3-ae23-38afe85b63ed">
        <div>
            <input name="optinform$Field0" id="optinform_Field0" type="email" placeholder="email" class="form-control NewsletterSignup__email" required>
            <div>
                <input name="optinform$Field524504240" id="optinform_Field524504240" type="text" placeholder="primeiro nome" class="form-control" required>
                <input name="optinform$Field524504432" id="optinform_Field524504432" type="text" placeholder="sobrenome" class="form-control" required>
            </div>
        </div>
        <p>Inscreva-se para receber atualizações sobre BID
            <a role="button"
               type="submit"
               id="optinform_btnSubscribe"
               name="optinform$btnSubscribe"
               class="NewsletterSignup__submit"
               title="Sign up">
                <span>Submit</span>
                <i class="gb-icon-right-arrow"></i>
            </a>
        </p>
        <input type="submit" id="NewsletterSignup_submit" class="submit NewsletterSignup_submit">
    </form>
</div>
