<footer class="Site__footer">
<div class="sponsors">
<a href="https://www.gbif.org/" class="img-container">
<img  src="/images/GBIF-2015-white-for-black.png">
</a>
<a href="https://www.ala.org.au/" class="img-container">
<img  src="/images/ALA_Logo_Stacked_REV.png">
</a>
<a href="https://pensoft.net/" class="img-container">
<img  src="/images/pensoftlogo_grayscale-01.png">
</a>
<a href="http://www.mcz.harvard.edu/" class="img-container">
<img  src="/images/MCZ_Logo_4c-REV.png">
</a>
<a href="https://www.idigbio.org/" class="img-container">
<img  src="/images/IDigBio_Logo_w.png">
</a>
</div>
<div class="sponsors">
<a href="http://dissco.eu/" class="img-container">
<img  src="/images/DiSSCo_logo_REV.png">
</a>
<a href="https://www.nlbif.nl" class="img-container">
<img  src="/images/LOGODEF_opzwart.png"></a>
<a href="https://www.fieldmuseum.org/" class="img-container">
<img  src="/images/Field_Logo_White.png"></a>
<a href="https://www.unenvironment.org/" class="img-container">
<img  src="/images/UNEP_Logo_White.png"></a>

</div>
    <div class="Site__footer__content">
    	{% include "footerContent.html" %}
    </div>
</footer>