.actions {
	.action {
		display inline-block
		a {
			display inline-block
			margin 5px 5px 0 0
			padding 10px
			background-color $signup_bg
			transition all 200ms ease
			color white
			font-weight bold
			&:hover {
				background-color $OrangePeel
				color white
			}
		}
	}
}