.buttons {
	display flex
  flex-direction row
  flex-wrap wrap
  margin 0 vr-block(-0.5)
  a {
    padding vr-block(0.5)
    text-align center
    background #f15928 
    color white
    margin vr-block(0.5)
    flex 1 1 auto
    border-radius 5px
    font-weight bold
  }
}
