$signup_bg = #444
$signup_color = #ddd
$signup_border_color = none
$signupInput_color = #444
$signup_form_margin = 0.25

.article .block-content .NewsletterSignup {
	background $signup_bg
	padding vr-block(.5) vr-block($articleMarginSmall - $signup_form_margin) 0 vr-block($articleMarginSmall - $signup_form_margin)
	margin 0
	margin-left -(vr-block($articleMarginSmall))
	margin-right -(vr-block($articleMarginSmall))
	margin-top -($articleMarginTop)
	color $signup_color
	border solid vr-block(.25) $signup_border_color
	a {
		border-bottom none
		cursor pointer
	}
	form {
		>div {
			//display flex
			//flex-wrap wrap
			>div {
				//display flex
				//flex 1 1 auto
				//flex-wrap wrap
			}
			.NewsletterSignup__email {
				//flex 1 0 auto
				min-width 200px
			}
		}
		.mimi_field {
			width 100%
			margin-bottom 10px
		}
		input {
			color $signupInput_color
			display inline-block
			width 100%
			//margin vr-block(.25)
			padding vr-block(.5)
			height 3rem
		}
		.select {
			background white
			border 1px solid #ccc
			select {
				color $signupInput_color
				background transparent
				border none
				height 3rem
				width 100%
			}
		}
		.checkgroup {
			>div, input, label {
				display inline-block
				width auto
				height auto
			}
			label {
				margin-right 10px
			}
		}
		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		.NewsletterSignup__submit {
			float right
			i {
				font-size 3rem
			}
			span {
				position absolute
				left -9999px
			}
		}
		input.NewsletterSignup_submit {
			display none
		}
		.submit {
			width auto
			float right
			margin-bottom 1rem
		}
		.disabled {
			background none
			color tomato
			border none
		}
	}

	h3, p {
		margin vr-block(.25) 0
	}
}

+isAbove($tablet) {
	.article .block-content .NewsletterSignup {
		.row {
			>div {
				display inline-block
				width calc(50% - 15px)
				float left
				&:first-of-type {
					margin-right 30px
				}
			}
		}
	}
}

+isAbove($laptop) {
	.article .block-content .NewsletterSignup {
		padding vr-block(.5) vr-block($articleMarginLarge - $signup_form_margin) 0 vr-block($articleMarginLarge - $signup_form_margin)
		margin-left -(vr-block($articleMarginLarge))
		margin-right -(vr-block($articleMarginLarge))
	}
}