.sponsors {
	width: 100%
	background: #6b6c6e !important
    text-align: center
    .img-container{
        display: inline-block;
        min-width: 120px;
        height: 100px;
        img {
            max-height: 80px
            padding: 10px;
        }
        }
		
	}

