/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
$tablet = 768px
$laptop = 900px//1024px
$desktop = 1200px


/* BRAND COLORS - for reference*/
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);  // Terracotta
$Mist = rgb(232, 232, 232) 		// mist

$Tomato = #f1582b;
$Charcoal = #404041;


$borderWidth = vr-block(0.25);

// text and background
$content_bg = #fff
$ink = #333

//Navigation-bar variables
$navbar_bg = linear-gradient($Charcoal, darken($Charcoal,5));
$navbar_BorderColor = $Tomato
$navbar_textColor = whitesmoke
$navbar_textColor_hover = white
$navbar_dropdown_bg = white
$navbar_dropdown_megaColor = $Tomato
$navbar_dropdown_color = #333
$navbar_horizontal_color = $c_main
$navbar_dropdown_triangle_color = $navbar_BorderColor


//Drawers
$drawer-width = 300px
$nav_drawer_bg = #444
$nav_drawer_color = #ddd
$nav_drawer_image = "/images/africarising.jpg"


//links
$LinkBorderColor = $Tomato

//Logo
$site-logo-content = $icon-string-logo
$logo_color = $Tomato

//Footer
$footer_bg = $navbar_bg
$footer_color = $navbar_textColor
$footer_border_width = $navbar_borderWidth
$footer_border_color = $navbar_BorderColor

//TOC
/*$toc_drawer_bg = $content_bg*/
/*$toc_drawer_color = $ink*/
$toc_h2_underline_color = $Tomato
/*$toc_toggle_bg = #333*/
/*$toc_toggle_color = $Mist*/
/*$toc_drawer_button_height = vr-block(2)*/


//TranslationNotification
$translationNotification_bg = #444
$translationNotification_color = #ddd

//Typography
$body-font          = $helvetica
$body-font-weight   = normal
$body-color         = #555
$header-font        = $helvetica
$header-font-weight = 400
$header-color       = #111
//$html-font-size		= 15px
$blockquote_border_color = #555

//article
//$article_max_width = 1000px
$articleHeader_textColor = #444//$Terracotta//white//inherit
$articleHeader_weight = 200//bold
$articleHeader_bg = none//#444//#A6DE9C//inherit
$articleHeader_border = 1px solid #eee
//$articleMarginLarge = vr-block(5)
//$articleMarginSmall = vr-block(1)
//$articleMarginTop = vr-block(1)
//$articleFontSize = 16px

//search
//inherit
$searchCategoryColor := $Tomato

//popup
//$popupBg = $content_bg
//$popupButtonColor = #ccc
//$popupButtonHoverColor = $ink
$popupButtonHoverBg = #D4BB7E
//$popupColor = $ink



